xvt*termName: rxvt
!URxvt*font: -*-ohsnap.icons-medium-r-*-*-11-*-*-*-*-*-*-*
!URxvt*boldFont: -*-ohsnap.icons-bold-r-*-*-11-*-*-*-*-*-*-* 
URxvt*allow_bold: true
URxvt*depth: 0
URxvt*foreground: grey
URxvt*background: #242424
URxvt*transparent: true
URxvt*shading: 20
URxvt*tint: #000000
URxvt*cursorBlink: true
URxvt*cursorColor: #A7BF76
URxvt*scrollBar: false
URxvt*saveLines: 1000
URxvt*perl-lib:         /usr/lib/urxvt/perl/
URxvt*perl-ext: default,matcher,clipboard,url-select,keyboard-select
URxvt*matcher.Button: 1
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt*url-launcher: /usr/bin/chromium 
URxvt*colorUL: #7FB0F1
URxvt*matcher.button: 1
URxvt*tabbed.tabbar-fg: 10
URxvt*tabbed.tabbar-bg: #000000
URxvt*tabbed.tab-fg: 4
URxvt*tabbed.tab-bg: #000000

!Fonts
!Hermit
!URxvt*font: xft:Hermit:medium:size=7:antialiasing=true
!URxvt*boldFont: xft:Hermit:bold:size=7:antialiasing=true:style=medium
!URxvt*italicFont: xft:Hermit:medium:size=7:antialiasing=true:style=medium
!URxvt*boldItalicFont: xft:Hermit:bold:size=7:antialiasing=true:style=medium
!URxvt.letterSpace: -1

!Envy Code R
URxvt.font:xft:Envy Code R:Regular:pixelsize=11i:antialiasing=true
!URxvt.font: -*-envy code r-medium-r-*-*-12-*-*-*-*-*-iso8859-*
URxvt.boldFont:xft:Envy Code R:Regular:pixelsize=11:antialiasing=true
URxvt.italicFont:xft:Envy Code R:Italic:pixelsize=11:antialiasing=true
URxvt.boldItalicFont:xft:Envy Code R:Italic:pixelsize=11:antialiasing=true

!black
*color0: #222222
*color8: #666666
!red
*color1: #E84F4F
*color9: #D23D3D
!green
*color2: #B7CE42
*color10: #BDE077
!yellow
*color3: #FEA63C
*color11: #FFE863
!blue
*color4: #66A9B9
*color12: #AACCBB
!magenta
*color5: #B7416E
*color13: #E16A98
!cyan
*color6: #6D878D
*color14: #42717B
!white
*color7: #CCCCCC
*color15: #CCCCCC
